[defaults]
inventory = ansible/inventory.yml
roles_path = ansible/roles
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
display_skipped_hosts = False
deprecation_warnings = False
local_tmp = /tmp/ansible-local
remote_tmp = ~/.ansible/tmp
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
